* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(220, 220, 220);
  display: flex;
}

.levels {
  display: block;
  width: 100%;
}

.levels:first-child {
  margin-right: 0.5rem;
}

.levels:last-child {
  margin-left: 0.5rem;
}

.level-text-container {
  display: flex;
  margin: 0.75rem 0 0.25rem 0;
}

.level-text {
  flex: 1;
  text-align: center;
}

.level-text:first-child {
  text-align: left;
}

.level-text:last-child {
  text-align: right;
}

.level-bar-container, .level-bar {
  height: 4px;
  border-radius: 2px;
}

.level-bar-container {
  background-color: #f0f0f0;
}

.level-bar {
  transition: width 1s;
}

.level-bar-default {
  background-color: #ee5a00;
}

.level-bar-secondary {
  background-color: #009f33;
}

@media (max-width: 769px) {
  .container {
    display: block;
  }
  .levels:first-child {
    margin: 0;
  }
  .levels:last-child {
    margin: 1.5rem 0 0 0;
  }
}
